{% extends "new_generic.html" %}

{% block title %}
    <h1>Статистика по трудоустройству выпускников СПИНТех</h1>
{% endblock %}

{% block content %}
    <div class="t005__text t-text t-text_md" style="" field="text">
        <h1>Главная страница</h1>
        <p>Добро пожаловать на главную страницу!</p>

        <p> Информационная платформа, позволяющая получать информацию о трудоустройстве выпу
            выпускников института СПИНТех"
        <h2>Общая статистика по сервису</h2>
        <ul>
            <li><strong>Количество выполненных рассылок:</strong> {{ num_of_completed_mailing }}</li>
            <li><strong>Список поддерживаемых факультетов:</strong> {{ all_faculties }}</li>
            <li><strong>Список поддерживаемых групп:</strong> {{ all_groups }}</li>
            <li><strong>Пройденных опросов:</strong> {{ all_question }}</li>
            <li><strong>Трудоустроенных выпускников:</strong> {{ employed }}</li>
        </ul>
    </div>

{% endblock %}
